<div class="content">
	<div class="wrap">
		<div class="bread">
			<a href="#">Главная</a>  •  <a href="#">Услуги</a>  •  Процедуры для лица
		</div>
	</div>
	<div class="wrap">
		<div class="card-left">
			<div class="card-gallery">
				<div class="swiper-wrapper">
			        <div class="swiper-slide" data-hash="slide1" style="background-image: url(/img/slider-img.jpg)"></div>
			        <div class="swiper-slide" data-hash="slide2" style="background-image: url(/img/slider-img.jpg)"></div>
			        <div class="swiper-slide" data-hash="slide3" style="background-image: url(/img/slider-img.jpg)"></div>
			    </div>
			</div>
			<div class="gallery-list">
				<div class="swiper-wrapper">
			        <a href="#slide1" class="carusel-one swiper-slide" data-hash="slide1" style="background-image: url(/img/slider-img.jpg)"></a>
			        <a href="#slide2" class="carusel-one swiper-slide" data-hash="slide1" style="background-image: url(/img/slider-img.jpg)"></a>
			        <a href="#slide3" class="carusel-one swiper-slide" data-hash="slide1" style="background-image: url(/img/slider-img.jpg)"></a>
			    </div>
			</div>
		</div>
		<div class="card-right">
			<h1 class="card-title">Массаж для лица</h1>
			<p>Хотите сохранить здоровый цвет лица и избавиться от морщин – нет ничего проще! Если вы делаете регулярный и правильный массаж лица, эффект этой процедуры не заставит себя долго ждать: старые морщины станут не такими явными, разгладятся, а новые и вовсе перестанут появляться. </p>
			<p>В зависимости от проблемного участка лица, можно выбрать несколько техник массажа. Правильный массаж лица против морщин расслабляет кожу, снимает с неё напряжение, что приводит к разглаживанию морщин.</p>

			<div class="card-list">
				<div class="card-list__title">
					<span>Диагностика кожи аппаратом DERMACHECK</span>
				</div>
				<div class="card-list__descr">Курс 5 процедур + 1 процедура в подарок = 6 процедур</div>
				<div class="card-list__price">5 000 ₽</div>
			</div>
			<div class="card-list">
				<div class="card-list__title"><span>Египетский массаж лица</span></div>
				<div class="card-list__descr">Курс 5 процедур + 1 процедура в подарок = 6 процедур</div>
				<div class="card-list__price">5 000 ₽</div>
			</div>

			<a href="#" class="card-list__order">Записаться</a>
		</div>
		
	</div>
	<div class="wrap">
		<h2 class="card-descr">Описание</h2>
		<h3>Египетский массаж лица </h3>
		<p>Главная особенность египетского массажа лица заключается в совокупности вибрационного и точечного воздействия . Такой массаж тонизирует и укрепляет мышцы лица, формируя ваш естественный овал лица. Кроме того, регулярное посещение массажа способно предупредить возникновения различных косметических дефектов в виде угревой сыпи.</p>
		<p>После такого массажа кожа лица становится упругой и эластичной, как будто после лифтинговых процедур. Это не только придаст вашему лицу более молодой и здоровый вид, но и предотвратит появление морщинок.</p>
		<h3>Кобидо массаж лица</h3>
		<p>Методика позволяет ускорить процесс восстановления глубоких слоев эпителия и расслабить мышцы лица, шеи и декольте.</p>
		<p>Результат достигается за счет особых приемов массажа, сочетающих в себе разминание, растирание, пощипывание и поглаживание. Во время процедуры происходит воздействие на линии, взаимодействующие с определенными органами и системами организма. Повышенное внимание уделяется линиям, которые отвечают за функционирование толстого кишечника и мочевыделительной системы. При этом ускоряется процесс очищения, стимулируется пищеварение.</p>
		<p>Работа над этими зонами дает хорошие результаты: тон лица выравнивается, общее самочувствие улучшается. Также оказывается воздействие на области, ответственные за работу селезенки и желудка. Благодаря массажу лица Кобидо кожа лучше усваивает полезные вещества и буквально светится изнутри.</p>

		<h3>Хиромассаж лица</h3>
		<p>Выбирая хиромассаж, человек не только оказывает положительное влияние на собственное здоровье, но и достигает полной релаксации. Хиромассаж лица прекрасно устраняет многие проблемы дерматологического характера, начиная от венозной сетки и заканчивая выраженными рубцами после акнэ. Хиромассаж выступает как прекрасная альтернатива большинству процедур современной аппаратной косметологии.</p>
	</div>
	<div class="wrap">
		<div class="form-order">
			<div class="order-title">Запись на прием</div>
			<form action="" id="order">
				<div class="form-left">
					<input type="text" name="name" placeholder="Ваше имя*">
					<input type="text" name="phone" placeholder="Номер телефона*">
					<input type="text" name="email" placeholder="E-mail">
				</div>
				<div class="form-right">
					<textarea name="text" placeholder="Текст сообщения"></textarea>
				</div>
				<button class="order-submit" type="submit">Записаться</button>
			</form>
		</div>
	</div>	
</div>