<div class="content">
	<div class="wrap">
		<div class="bread">
			<a href="#">Главная</a>  •  <a href="#">Услуги</a>  •  Процедуры для лица
		</div>
		<h1>Процедуры для лица</h1>
	</div>
	<div class="wrap">
		
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-1.jpg" alt=""></a>
			<a href="#">Массаж для лица</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-2.jpg" alt=""></a>
			<a href="#">Диагностика кожи аппаратом DERMACHECK</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-3.jpg" alt=""></a>
			<a href="#">Комплексная чистка лица</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-4.jpg" alt=""></a>
			<a href="#">Уход на аппарате SKINLIGHT</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-1.jpg" alt=""></a>
			<a href="#">Массаж для лица</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-2.jpg" alt=""></a>
			<a href="#">Диагностика кожи аппаратом DERMACHECK</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-3.jpg" alt=""></a>
			<a href="#">Комплексная чистка лица</a>
		</div>
		<div class="catalog-one">
			<a href="#"><img src="/img/usl-4.jpg" alt=""></a>
			<a href="#">Уход на аппарате SKINLIGHT</a>
		</div>
	</div>
	<div class="wrap">
		<h2>Центр современной косметологии "Верона" </h2>
		<p>Косметологический центр «ВЕРОНА» - это уголок покоя и уюта для каждого клиента. Здесь можно расслабиться, доверившись опытным мастерам. Мы творим красоту и хотим, чтобы наши посетители каждый раз окунались в атмосферу настоящего волшебства.</p>

		<p>Слагаемые нашего успеха: безупречный сервис, высокий профессионализм сотрудников, клиентоориентированность, широкий выбор современных препаратов и процедур. Мы работаем с каждым клиентом персонально. Наш центр небольшой, поэтому мы уделяем максимальное внимание каждому клиенту. </p>
		<p>Мы понимаем, что косметологические услуги нужно подбирать индивидуально, поэтому проводим бесплатные предварительные консультации.</p>
	</div>
</div>