<div class="footer">
	<div class="wrap">
		<div class="footer-top">
			<div class="footer-cols">
				<div class="footer-col">
				    <a class="footer-head" href="#">О нас</a>
					<div class="footer-menu">
					    <a href="#">Лицензии и сертификаты</a>
						<a href="#">Прайс-лист</a>
						<a href="#">Наши специалисты</a>
						<a href="#">Отзывы</a>
						<a href="#">Вакансии</a>
					</div>
				</div>
				<div class="footer-col">
					<a class="footer-head" href="#">Для лица</a>
					<div class="footer-menu footer-menu--col">
						<a href="#">Массаж для лица</a>
						<a href="#">Диагностика кожи аппаратом DERMACHECK</a>
						<a href="#">Комплексная чистка лица</a>
						<a href="#">Уход на аппарате SKINLIGHT</a>
						<a href="#">Микродермабразия</a>
						<a href="#">Фототерапия</a>
						<a href="#">Безыгольная мезотерапия</a>
						<a href="#">Химические пилинги</a>
						<a href="#">Токопроводящие маски</a>
						<a href="#">Акне</a>
						<a href="#">Диспорт, Ботокс</a>
						<a href="#">Эксперт-уходы ACADEMIE</a>
					</div>
				</div>
			</div>
			<div class="footer-cols">
				<div class="footer-col">
					<a class="footer-head" href="#">Для тела</a>
					<div class="footer-menu footer-menu--col footer-menu--nocol">
						<a href="#">Криосауна</a>
						<a href="#">Идеальное тело на аппарате FULLSKIN (Франция)</a>
						<a href="#">"Умная" прессотерапия</a>
						<a href="#">Подводный ручной гидромассаж</a>
						<a href="#">Электромиостимуляция на аппарате BODYTER PREMIUM</a>
						<a href="#">Лечение целлюлита, растяжек, рубцов</a>
						<a href="#">Удаление новообразований</a>
						<a href="#">Средства для домашнего ухода ACADEMIE</a>
					</div>
				</div>

				<div class="footer-col">
					<a class="footer-head" href="#">SPA услуги</a>
					<div class="footer-menu">
						<a href="#">Массаж / все виды</a>
						<a href="#">Подводный ручной гидромассаж</a>
						<a href="#">Маникюр</a>
						<a href="#">Педикюр</a>
						<a href="#">Парафинотерапия</a>
					</div>
				</div>

				<div class="footer-col footer-col--main">
					<a class="footer-head" href="#">Главная</a>
					<a class="footer-head" href="#">Для мужчин</a>
					<a class="footer-head" href="#">Контакты</a>
				</div>
			</div>


		</div>

		<div class="footer-bottom clearfix">
			<div class="footer-copy">
				© Центр современной косметологии "Верона",  2017<br>
				620057, г. Екатеринбург, ул. Баумана, 2а
			</div>
			<div class="footer-right">
				<div class="footer-social">
					<a href="#" class="footer-social__vk"></a>
					<a href="#" class="footer-social__fb"></a>
					<a href="#" class="footer-social__inst"></a>
				</div>

				<div class="footer-phone">
					+7 (922) 035-22-22<br>
					+7 (343) 331-33-44
				</div>

				<a class="footer-order" href="#">Записаться</a>
			</div>
		</div>
	</div>
	

</div>