<div class="head head--main">
	<div class="wrap">
		<div class="head-top">
			<a href="/" class="head-logo">
				<img src="/img/logo.png" alt="" class="head-logo__verona">
				<img src="/img/logo-text.png" alt="" class="head-logo__text">
			</a>

			<div class="head-top-right">
				<div class="head-adress">
					Екатеринбург<br>
					ул. Баумана, 2а
				</div>

				<div class="head-phone">
					+7 (922) 035-22-22<br>
					+7 (343) 331-33-44
				</div>

				<a class="head-order" href="#">Записаться</a>
			</div>



		</div>
		<ul class="head-menu">
			<li><a class="head-menu__one" href="#">Главная</a></li>
			<li><a class="head-menu__one" href="#">О нас</a></li>
			<li><a class="head-menu__one" href="#">Для лица</a></li>
			<li><a class="head-menu__one" href="#">Для тела</a></li>
			<li><a class="head-menu__one" href="#">SPA услуги</a></li>
			<li><a class="head-menu__one" href="#">Для мужчин</a></li>
			<li><a class="head-menu__one" href="#">Контакты</a></li>
		</ul>
	</div>

	//= main/slider.html
</div>



