<div id="overlay">
	<div class="modal" id="send">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="order-title">Запись на процедуры</div>
			<div class="order-form">
				<form id="order-form" action="" method="post" >
					<div class="form-line">
						<label for="">Ф.И.О:</label>
						<input type="text" name="name" placeholder="Введите имя">
					</div>
					<div class="form-line">
						<label for="">Телефон:</label>
						<input type="text" name="phone" placeholder="Введите номер телефона">
					</div>
					<div class="form-line">
						<label for="">Электронная почта:</label>
						<input type="text" name="email" placeholder="Введите адрес электронной почты">
					</div>
					<div class="form-line">
						<label for="">Сообщение:</label>
						<textarea name="mesage" placeholder="Введите сообщение"></textarea>
					</div>
					<div class="form-line">
						<label for=""></label>
						<button class="form-send">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>