@import "sprite.less";
@import "mixin.less";
@import "base.less";

body {
    
}


.wrap {
	max-width: 1200px;
	margin: 0 auto;
}


.head {

	&:after {
		content: "";
		background-image: url(/img/head-bg.png);
		background-repeat: repeat-x;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 283px;
	}
}

.head--main {
	.wrap {
		z-index: 10;
	}
}

.head--in {
	background-image: none;
	background: linear-gradient(to bottom, #9d815e 0%,#c2ae94 100%);
	height: 174px;
	.wrap {
		z-index: 10;
	}

	.head-menu {
		margin-bottom: 0 !important;
	}

	&:after {
		display: none;
	}
}

.head-top {
	z-index: 10;
	padding: 10px 0;
}

.head-logo {
	text-decoration: none;
}

.head-logo__verona {
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.head-logo__text {
	width: 180px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 12px;
}

.head-top-right {
	float: right;
	margin-top: 20px;
}

.head-adress {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	margin-right: 40px;
}

.head-phone {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	margin-right: 40px;
}

.head-order {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	padding: 12px 40px;
	border: 2px solid #fff;
	border-radius: 5px;

}

.head-menu {
	display: table;
	width: 100%;
	height: 62px;

	li {
		display: table-cell;
		text-align: center;
	}
}

.head-menu__one {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 20px 0;

	&:hover {
		color: #000;
		border-bottom: 3px solid #000;
	}
}


.slider-main {
	margin-top: -200px;
	z-index: 0;
	top: -80px;
	background-color: #d1bfa9;
	overflow: hidden;
	width: 100%;

	&:after {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 178px;
		background-image: url(/img/slider-angle.png);
		background-position: 50% 0;
		z-index: 10;
	}

	.swiper-pagination {
		bottom: 150px;
		text-align: right;
		z-index: 20;
		right: 0px;
		left: auto;
	}

	.swiper-pagination-bullet {
		background: none;
		border: 2px solid #fff;
		width: 12px;
		height: 12px;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: #fff;
	}
}

.slider-one {
	height: 750px;
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slider-one-text {
	padding-top: 270px;
	max-width: 600px;
}

.slider-one__title {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 20px;
}

.slider-one__subtitle {
	margin-bottom: 20px;
	color: #5d5245;
	font-size: 20px;
}

.slider-one__order {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 12px 40px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.slider-pagination {
	max-width: 1200px;
	margin: 0 auto;

	.swiper-pagination-bullet {
		margin-left: 10px;
	}
}

.about {
	margin-bottom: 60px;
	margin-top: -135px;
}

.about-img {
	float: left;
	margin-right: 30px;
}

.about-text {
	padding-top: 70px;

	h1 {
		text-align: left;
	}
}




.services, .content {
	margin-bottom: 40px;

	.wrap {
		word-spacing: -0.35em;
	}
}

.service {
	width: 24%;
	margin-right: 1.333%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	span {
		display: block;
		font-size: 15px;
	}

	img {
		width: 100%;
		display: block;
		opacity: 0.4;
		transition: all 0.5s;
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		img {
			opacity: 1;
		}
	}
}

.service-text {
	background: linear-gradient(to bottom, #e9dccb 0%, #d5bda0 100%);
	padding: 20px;
}

.service__icon {
	text-align: center;
	height: 50px;
	margin-bottom: 10px;
	&:after {
		content: "";
		display: inline-block;
		transform: scale(0.5);
		margin-top: -25px;
	}
}

.service__icon--face {
	&:after {
		.sprite(@women);
	}
}

.service__icon--body {
	&:after {
		.sprite(@body);
	}
}

.service__icon--spa {
	&:after {
		.sprite(@spa);
	}
}

.service__icon--men {
	&:after {
		.sprite(@men);
	}
}

.service__title {
	font-size: 34px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
	&:after {
		content: "";
		display: block;
		.sprite(@venzel);
		transform: scale(0.5);
		position: absolute;
		left: 50%;
		margin-left: -165px;
	}
}

.service__del {
	display: block;
	font-style: normal;
}

.service__del--big {
	margin: 10px 0;
}

.service__order {
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 12px 40px;
	border: 2px solid #000;
	border-radius: 5px;
}

.service-descr {
	min-height: 300px;
}






.price {
	margin-bottom: 40px;
	z-index: 10;
}

.price__title {
	margin-bottom: 50px;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
}

.price-list {
	word-spacing: -0.35em;
}

.price-one {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: 4%;
	margin-bottom: 40px;

	&:nth-child(2n) {
		margin-right: 0;
	}
}

.price-one__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	padding-right: 90px;
}

.price-one__cost {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	font-weight: 700;
}

.price-one__descr {
	font-size: 13px;
}

.price-more {
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 12px 40px;
	border: 2px solid #000;
	border-radius: 5px;
}

.price-bottom {
	text-align: center;
}







.footer {
	background: url(/img/footer-bg.png) no-repeat 50% 0;
	padding: 200px 0 0 0;
	margin-top: -100px;
	z-index: 1;
}

.footer-top {
	display: table;
	margin-bottom: 30px;
}

.footer-cols {
	display: table-cell;
}

.footer-col {
	display: table-cell;
}

.footer-head {
	color: #000;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 10px;
	text-decoration: none;
	display: block;
}

.footer-menu {
	padding-right: 20px;
	a {
		color: #000;
		font-weight: 300;
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 10px;
		text-decoration: none;
		display: block;
		vertical-align: top;
		white-space: nowrap;
	}
}

.footer-menu--col {
	columns: 2;

	a {
		white-space: normal;
	}
}

.footer-bottom {
	color: #fff;
	padding: 20px 0;
}

.footer-copy {
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
}

.footer-right {
	float: right;
}

.footer-social {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 5px;
}

.footer-social__vk {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: 5px;
	&:after {
		.sprite(@vk);
		content: "";
		position: absolute;
		top: -18px;
		left: -18px;
		transform: scale(0.5);
	}
}

.footer-social__fb {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: 5px;
	&:after {
		.sprite(@fb);
		content: "";
		position: absolute;
		top: -18px;
		left: -18px;
		transform: scale(0.5);
	}
}

.footer-social__inst {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: 5px;
	&:after {
		.sprite(@inst);
		content: "";
		position: absolute;
		top: -18px;
		left: -18px;
		transform: scale(0.5);
	}
}

.footer-phone {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	margin-right: 40px;
}

.footer-order {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-decoration: none;
	padding: 12px 40px;
	border: 2px solid #fff;
	border-radius: 5px;
}


.content {
	margin-bottom: 50px;
}

.catalog-one {
	width: 24%;
	margin-right: 1.333%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-bottom: 30px;
	&:nth-child(4n) {
		margin-right: 0;
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		opacity: 0.4;
		transition: all 0.5s;
	}

	a {
		font-size: 24px;
		font-weight: 300;
		display: block;
		text-align: center;
		text-decoration: none;
		transition: all 0.5s;
	}

	&:hover {
		img {
			opacity: 1;
		}
		a {
			color: #cdab7a;
		}
	}
}

.catalog-img {
	display: block;
	width: 100%;
	height: 277px;
	background-image: url(/img/logo.png);
	background-position: center;
	background-color: #f5f1ed;
	background-repeat: no-repeat;
	background-size: 70%;
	margin-bottom: 20px;
}

.breadcrumb {
	padding: 20px 0;
	font-size: 12px;
	margin: 0;
	li {
		display: inline-block;
	}
	a {
		color: #cdab7a;
		text-decoration: none;
	}

	color: #bfbfbf;
}

.card-left {
	width: 48%;
	margin-right: 4%;
	float: left;
}

.card-right {
}

.card-gallery {
	overflow: hidden;
	margin-bottom: 10px;

	.swiper-slide {
		height: 400px;
		background-size: cover;
		background-position: center;
	}
}

.gallery-list {
	overflow: hidden;
	margin-bottom: 30px;
	.swiper-slide {
		height: 70px;
		background-size: cover;
		background-position: center;
	}
}

.carusel-one {
	opacity: 0.6;
	&.active {
		opacity: 1;
		border: 4px solid #cdab7a;
	} 
}

.card-title {
	text-align: left;
	margin-bottom: 20px;
}

.card-list {
	display: inline-block;
	width: 48%;
	overflow: hidden;
	margin-bottom: 20px;
}

.card-list__title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	padding-right: 100px;
	
		&:after {
			content: "";
			border-bottom: 2px dotted #000;
			display: block;
			position: absolute;
			width: 1000px;
			top: 20px;
			left: 0%;
			z-index: -1;

		}
	span {
		background: #fff;
		position: relative;
	}

}

.card-list__descr {
	font-size: 13px;
}

.card-list__price {
	font-size: 24px;
	font-weight: 700;
	position: absolute;
	top: -5px;
	right: 0;
	background: #fff;
}

.card-list__order {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	background: #cdab7a;
	color: #fff;
	padding: 20px 40px;
	border-radius: 4px;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 30px;

	&:hover {
		opacity: 0.7;	
	}
}

.card-descr {
	text-align: left;
	font-size: 26px;
	margin-bottom: 20px;
}


.form-order {
	max-width: 740px;
	margin: 0 auto;
	
}

.order-title {
	font-size: 34px;
	font-weight: 300;
	margin-bottom: 30px;
	text-align: center;
}

.form-left {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	input {
		padding: 10px 15px;
		border: 2px solid #cdab7a;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 700;
		width: 100%;
		margin-bottom: 10px;
	}
}

#order {
	word-spacing: -0.34em;
}

.form-right {
	display: inline-block;
	width: 48%;
	margin-left: 4%;
	vertical-align: top;
	textarea {
		padding: 10px 15px;
		border: 2px solid #cdab7a;
		border-radius: 5px;
		font-size: 15px;
		font-weight: 700;
		width: 100%;
		height: 143px;
	}
}

.order-submit {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	background: #cdab7a;
	color: #fff;
	padding: 15px 40px;
	border-radius: 4px;
	text-decoration: none;
	margin: 20px auto;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
}

.sert-slider {
	overflow: hidden;
	padding-bottom: 50px;
	margin-bottom: 30px;

	.swiper-slide {
		height: 400px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		padding-bottom: 30px;
		position: relative;


	}
}

.sert-title {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -50px;
	text-decoration: none;
	font-weight: 300;
	color: #000;
}


.contact-img {
	float: left;
	width: 48%;
	margin-right: 4%;
}

.contact-right {
	width: 48%;
	float: left;
}

#map {
	height: 600px;
	margin-top: 50px;
	margin-bottom: -220px;
}


.personal-one {
	margin-bottom: 50px;
}

.personal-one__img {
	width: 280px;
	height: 270px;
	float: left;
	margin-right: 30px;

	img {
		width: 100%;
		display: block;
	}
}

.personal-one__title {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

.personal-one__position {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;
}

.personal-one__text {
	margin-bottom: 20px;
	font-size: 14px;
}

.personal-one__since {
	font-size: 14px;
}

.review {
	margin-bottom: 50px;
}

.review__img {
	width: 200px;
	float: left;
	margin-right: 30px;

	img {
		display: block;
		width: 100%;
	}
}

.review-descr {
	margin-left: 230px;
}

.review__title {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}

.review__date {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;
}

.review__text {
	font-size: 14px;
	margin-bottom: 20px;
}

.review__more {
	font-size: 14px;
	font-weight: 700;
	color: #cdab7a;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;

	&:after {
		content: "";
		.sprite(@arrow);
		transform: scale(0.5) rotate(180deg);
		display: inline-block;
		vertical-align: middle;
	}
}

.review__hidden {
	display: none;
} 