<div class="about">
	<div class="wrap">
		<div class="about-img">
			<img src="/img/welcome.jpg" alt="">
		</div>
		<div class="about-text">
			<h1>Центр современной косметологии "Верона" </h1>
			<p>Косметологический центр «ВЕРОНА» - это уголок покоя и уюта для каждого клиента. Здесь можно расслабиться, доверившись опытным мастерам. Мы творим красоту и хотим, чтобы наши посетители каждый раз окунались в атмосферу настоящего волшебства.</p>
			<p>Слагаемые нашего успеха: безупречный сервис, высокий профессионализм сотрудников, клиентоориентированность, широкий выбор современных препаратов и процедур. Мы работаем с каждым клиентом персонально. Наш центр небольшой, поэтому мы уделяем максимальное внимание каждому клиенту. 
			</p>
		</div>
	</div>

</div>
