<div class="price">
	<div class="wrap">
		<div class="price__title">Наши цены</div>
		<div class="price-list">
			<div class="price-one">
				<div class="price-one__title">Комплексная чистка лица</div>
				<div class="price-one__cost">15 000 <i class="rubl">₽</i></div>
				<div class="price-one__descr">Процедура очищения кожи помогает устранить многие косметические недостатки, предупредить старение, сделать кожу по-настоящему красивой.</div>
			</div>
			<div class="price-one">
				<div class="price-one__title">Комплексная чистка лица</div>
				<div class="price-one__cost">15 000 ₽</div>
				<div class="price-one__descr">Процедура очищения кожи помогает устранить многие косметические недостатки, предупредить старение, сделать кожу по-настоящему красивой.</div>
			</div>
			<div class="price-one">
				<div class="price-one__title">Комплексная чистка лица</div>
				<div class="price-one__cost">15 000 ₽</div>
				<div class="price-one__descr">Процедура очищения кожи помогает устранить многие косметические недостатки, предупредить старение, сделать кожу по-настоящему красивой.</div>
			</div>
			<div class="price-one">
				<div class="price-one__title">Комплексная чистка лица</div>
				<div class="price-one__cost">15 000 ₽</div>
				<div class="price-one__descr">Процедура очищения кожи помогает устранить многие косметические недостатки, предупредить старение, сделать кожу по-настоящему красивой.</div>
			</div>
		</div>
		<div class="price-bottom">
			<a href="#" class="price-more">Посмотреть все цены</a>
		</div>
	</div>
</div>