<div class="services">
	<div class="wrap">
		<div class="service">
			<img src="/img/usl-1.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--face"></div>
				<div class="service__title">Для лица</div>
				<div class="service-descr">
					<span>Массаж для лица</span>
					<i class="service__del">•</i>
					<span>Диагностика кожи аппаратом DERMACHECK</span>
					<i class="service__del">•</i>
					<span>Комплексная чистка лица</span>
					<i class="service__del">•</i>
					<span>Уход на аппарате SKINLIGHT</span>
					<i class="service__del">•</i>
					<span>Микродермабразия</span>
					<i class="service__del service__del--big">•••</i>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-2.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--body"></div>
				<div class="service__title">Для тела</div>
				<div class="service-descr">
					<span>Криосауна</span>
					<i class="service__del">•</i>
					<span>Идеальное тело на аппарате FULLSKIN (Франция)</span>
					<i class="service__del">•</i>
					<span>"Умная" прессотерапия</span>
					<i class="service__del">•</i>
					<span>Подводный ручной гидромассаж</span>
					<i class="service__del">•</i>
					<span>Удаление новообразований</span>
					<i class="service__del service__del--big">•••</i>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-3.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--spa"></div>
				<div class="service__title">Spa-услуги</div>
				<div class="service-descr">
					<span>Массаж / все виды</span>
					<i class="service__del">•</i>
					<span>Подводный ручной гидромассаж</span>
					<i class="service__del">•</i>
					<span>Маникюр</span>
					<i class="service__del">•</i>
					<span>Педикюр</span>
					<i class="service__del">•</i>
					<span>Парафинотерапия</span>
					<i class="service__del service__del--big">•••</i>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-4.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--men"></div>
				<div class="service__title">Для мужчин</div>
				<div class="service-descr">
					<span>Криосауна</span>
					<i class="service__del">•</i>
					<span>Идеальное тело на аппарате FULLSKIN (Франция)</span>
					<i class="service__del">•</i>
					<span>"Умная" прессотерапия</span>
					<i class="service__del">•</i>
					<span>Подводный ручной гидромассаж</span>
					<i class="service__del">•</i>
					<span>Удаление новообразований</span>
					<i class="service__del service__del--big">•••</i>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>

	</div>
</div>