<div class="services">
	<div class="wrap">
		<div class="service">
			<img src="/img/usl-1.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--face"></div>
				<div class="service__title">Для лица</div>
				<div class="service-descr">
					<a href="#">Массаж для лица</a>
					•
					<a href="#">Диагностика кожи аппаратом DERMACHECK</a>
					•
					<a href="#">Комплексная чистка лица</a>
					•
					<a href="#">Уход на аппарате SKINLIGHT</a>
					•
					<a href="#">Микродермабразия</a>
					<span>•••</span>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-2.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--body"></div>
				<div class="service__title">Для тела</div>
				<div class="service-descr">
					<a href="#">Криосауна</a>
					•
					<a href="#">Идеальное тело на аппарате FULLSKIN (Франция)</a>
					•
					<a href="#">"Умная" прессотерапия</a>
					•
					<a href="#">Подводный ручной гидромассаж</a>
					•
					<a href="#">Удаление новообразований</a>
					<span>•••</span>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-3.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--spa"></div>
				<div class="service__title">Spa-услуги</div>
				<div class="service-descr">
					<a href="#">Массаж / все виды</a>
					•
					<a href="#">Подводный ручной гидромассаж</a>
					•
					<a href="#">Маникюр</a>
					•
					<a href="#">Педикюр</a>
					•
					<a href="#">Парафинотерапия</a>
					<span>•••</span>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>
		<div class="service">
			<img src="/img/usl-4.jpg" alt="">
			<div class="service-text">
				<div class="service__icon service__icon--men"></div>
				<div class="service__title">Для мужчин</div>
				<div class="service-descr">
					<a href="#">Криосауна</a>
					•
					<a href="#">Идеальное тело на аппарате FULLSKIN (Франция)</a>
					•
					<a href="#">"Умная" прессотерапия</a>
					•
					<a href="#">Подводный ручной гидромассаж</a>
					•
					<a href="#">Удаление новообразований</a>
					<span>•••</span>
				</div>
				<a href="#" class="service__order">Перейти в раздел</a>
			</div>
		</div>

	</div>
</div>